* {
    margin: 0px;
    padding: 0%;
    font-family: sans-serif;
    text-decoration: none;
  }
  .agrupar {
    text-align: left;
  }
  /*Encabezado*/
  
  header {
    justify-content: space-between;
    display: flex;
    box-shadow: 0px 0.5px 12px 0px black;
  }
  
  nav a {
    display: inline-block;
  }
  .titulo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: black;
    font-size: 100%;
  }
  .titulo h1{
      font-size: 200%;
  }
  .acento {
    color: yellow;
    -webkit-text-stroke: 0.3px #ff6600;
  }
  header nav a {
    padding-right: 40px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 150%;
    color: gray;
    transition: 1s ease;
  }
  
  header nav a:hover {
    color: yellow;
    transition: 1s ease;
  }
  
img {
  max-width: 40%;
}
